<!DOCTYPE html>
<html>

<head>
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<title>{% block title %}stag.tanecvplzni.cz{% endblock %}</title>

	<link rel="icon" type="image/x-icon" href="{{ asset('bundles/app/favicon.ico') }}" />
	
	<script src="{{ asset('bundles/app/jquery/jquery-3.2.1.min.js') }}"></script>

	<link rel="stylesheet" href="{{ asset('bundles/app/bootstrap/css/bootstrap.min.css') }}" />
	<script src="{{ asset('bundles/app/bootstrap/js/bootstrap.min.js') }}"></script>

	<link rel="stylesheet" href="{{ asset('bundles/app/toastr/toastr.min.css') }}" />
	<script src="{{ asset('bundles/app/toastr/toastr.min.js') }}"></script>

	<link rel="stylesheet" href="{{ asset('bundles/app/font-awesome/css/font-awesome.min.css') }}" />

	<link rel="stylesheet" type="text/css" href="{{ asset('bundles/app/datatables/dataTables.bootstrap.min.css') }}" />
	<script type="text/javascript" src="{{ asset('bundles/app/datatables/jquery.dataTables.min.js') }}"></script>
	<script type="text/javascript" src="{{ asset('bundles/app/datatables/dataTables.bootstrap.min.js') }}"></script>
	<script type="text/javascript" src="{{ asset('bundles/app/redirect/jquery.redirect.js') }}"></script>
	<script type="text/javascript" src="{{ asset('bundles/stag/custom-scripts.js') }}"></script>

	<style>
		/* menu image */
		.navbar-brand { padding: 0px; }
		.navbar-brand img { height: 100%; padding: 5px; width: auto; }

		/* required items on forms */
		label.control-label.required:after { content:"*"; color:red; }

		/* disables ahref targets when printing the page */
		@media print { a[href]:after { content: none !important; } }

		/* other general classes */
		.inactive { opacity: 0.4; }
		.facebook-blue { color: #8b9dc3; }
		.coursetoolbox { padding: 0.5em;}
		.padded { margin-bottom: 1em; }
		
		@media print { .pagebreak { page-break-before: always; } }

		.spinner {
			border: 16px solid #f3f3f3; /* Light grey */
			border-top: 16px solid #3498db; /* Blue */
			border-radius: 50%;
			width: 120px;
			height: 120px;
			animation: spin 2s linear infinite;
			display: none;
			z-index: 1000;
		}
		.blackCover {
			width: 100%;
			height: 100%;
			position: fixed;
			top: 0px;
			left: 0px;
			background: rgba(0, 0, 0, 0.5);
			z-index: 500;
			display: none;
		}

		@keyframes spin {
			0% { transform: rotate(0deg); }
			100% { transform: rotate(360deg); }
		}
	</style>
	{% block stylesheets %}{% endblock %}
</head>
<body>
	<nav class="navbar navbar-default">
	<div class="container">
        	<div class="navbar-header">
			<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			<a class="navbar-brand" href="{{ path('default_index') }}"><img src="{{ asset('bundles/app/logo.png') }}"></a>
		</div>
		<div id="navbar" class="collapse navbar-collapse">
			<ul class="nav navbar-nav">
				<li><a href="{{ path('course_grid', {'type': 'regular'}) }}">Kurzy</a></li>
				<li><a href="{{ path('course_grid', {'type': 'workshop'}) }}">Workshopy</a></li>
				<li><a href="{{ path('course_grid', {'type': 'party'}) }}">Party a tančírny</a></li>
				<li><a href="{{ path('lesson_calendar') }}">Rozvrh</a></li>
			</ul>

			{% if is_granted('IS_AUTHENTICATED_FULLY') %}
			<ul class="nav navbar-nav navbar-right">
		
				{% if is_granted('ROLE_ADMIN') %}
				
				<li class="dropdown">
					<a href="{{ path('course_list') }}" class="dropdown-toggle" data-toggle="dropdown">
						Kurzy
						<span class="glyphicon glyphicon-chevron-down"></span>
					</a>
					<ul class="dropdown-menu">
						<li><a href="{{ path('course_list') }}"><span class="glyphicon glyphicon-list"></span> Seznam kurzů</a></li>
						<li><a href="{{ path('course_add') }}"><span class="glyphicon glyphicon-plus"></span> Přidat kurz</a></li>
						<li role="separator" class="divider"></li>
						{{ render(controller("StagBundle:Course:menulist")) }}
					</ul>
				</li>

				<li><a href="{{ path('blob_list') }}">Obrázky</a></li>
				<li><a href="{{ path('default_help') }}">Nápověda</a></li>
				
				{% endif %}
				
				<li class="dropdown">
					<a href="#" class="dropdown-toggle" data-toggle="dropdown">
						<span class="glyphicon glyphicon-user"></span> 
						<strong>{{ app.user.username }}</strong>
						<span class="glyphicon glyphicon-chevron-down"></span>
					</a>
					<ul class="dropdown-menu">
						<li><a href="{{ path('course_list') }}">Kurzy</a></li>
						<li><a href="{{ path('lesson_list') }}">Lekce</a></li>
						<li><a href="{{ path('ticket_list') }}">Vstupy</a></li>
						<li><a href="{{ path('participant_list') }}">Účastníci</a></li>
						<li><a href="{{ path('user_list') }}">Uživatelé</a></li>
						<li role="separator" class="divider"></li>
						<li><a href="{{ path('user_changepassword') }}">Změna hesla</a></li>
						<li><a href="{{ path('logout') }}">Odhlášení</a></li>
					</ul>
				</li>
			</ul>
			{% else %}
			<ul class="nav navbar-nav navbar-right">
				<li><a href="{{ path('login') }}">Přihlášení</a></li>
			</ul>
			{% endif %}

		</div><!--/.nav-collapse -->
	</div>
	</nav>

	<div class="container-fluid">
		{% block body %}
		{% endblock %}
	</div>

	<script type="text/javascript">
		{% block javascripts %}
		toastr.options = {
			"closeButton": false,
			"debug": false,
			"progressBar": false,
			"positionClass": "toast-top-right",
			"preventDuplicates": false,
			"onclick": null,
			"showDuration": "300",
			"hideDuration": "1000",
			"timeOut": "5000",
			"extendedTimeOut": "1000",
			"showEasing": "swing",
			"hideEasing": "linear",
			"showMethod": "fadeIn",
			"hideMethod": "fadeOut"
		};
	        {% for label, messages in app.flashes %}
			var type = '{{ label }}';
			{% for message in messages %}
				toastr[type]('{{ message }}');
			{% endfor %}
		{% endfor %}
		{% endblock %}
	</script>
	
	<script>
		$(document).ready(function(){
    			$('[data-toggle="popover"]').popover();
			$('.datatable').DataTable({
				"columnDefs": [ {
					"targets": "no-sort",
					"orderable": false,
				} ],
				"paging": false
			});
		});
	</script>
</body>
</html>
