{% extends '@StagBundle/base.html.twig' %}

{% block title %}StagBundle:Lesson:calendar{% endblock %}

{% block stylesheets %}
	<link rel="stylesheet" href="{{ asset('bundles/stag/fullcalendar/fullcalendar.min.css') }}" />
	<link rel="stylesheet" media="print" href="{{ asset('bundles/stag/fullcalendar/fullcalendar.print.min.css') }}" />
	<script src="{{ asset('bundles/stag/fullcalendar/moment.min.js') }}"></script>
	<script src="{{ asset('bundles/stag/fullcalendar/fullcalendar.min.js') }}"></script>
	<script src="{{ asset('bundles/stag/fullcalendar/cs.js') }}"></script>



<style>
.fc-event { 
	text-align: center; 
}
</style>



<script>
$(document).ready(function() {
	
	$('#calendar').fullCalendar({
		height: "auto",
		
		locale: "cs",
		header: {
			left: 'prev,next today',
			center: 'title',
			right: 'month,agendaWeek'
		},
		
		defaultView: "agendaWeek",
		allDaySlot: false,
		minTime: "13:00",
		hiddenDays: [0,6],
		
		timeFormat: "HH:mm",
		slotLabelFormat: ['MMMM YYYY', 'HH:mm'],
		slotEventOverlap: false,

		events: "{{ path('lesson_events') }}"
	});
	
});

</script>
	
{% endblock %}

{% block body %}
<div id='calendar'></div>
{% endblock %}

