{% extends 'AppBundle::base.html.twig' %}

{% block stylesheets %}
	<link rel="stylesheet" href="{{ asset('bundles/stag/fullcalendar/fullcalendar.min.css') }}" />
	<link rel="stylesheet" media="print" href="{{ asset('bundles/stag/fullcalendar/fullcalendar.print.min.css') }}" />
	<script src="{{ asset('bundles/stag/fullcalendar/moment.min.js') }}"></script>
	<script src="{{ asset('bundles/stag/fullcalendar/fullcalendar.min.js') }}"></script>
	<script src="{{ asset('bundles/stag/fullcalendar/cs.js') }}"></script>



<style>
/* center text in event */
.fc-event { 
	text-align: center; 
}

/* calendar row height */
.fc-time-grid .fc-slats td {
    height: 2.0em;
}

/* use full colors, not opaqued */
.fc-event .fc-bg {
	background: inherit;
	opacity: inherit;
}
</style>

<script>
$(document).ready(function() {
	
	$('#calendar').fullCalendar({
		height: "auto",
		
		locale: "cs",
		header: {
			left: 'prev,next today',
			center: 'title',
			right: 'month,agendaWeek,listMonth'
		},
		
		defaultView: "agendaWeek",
		allDaySlot: false,
		minTime: "11:00",
		
		timeFormat: "HH:mm",
		slotLabelFormat: ['MMMM YYYY', 'HH:mm'],
		slotEventOverlap: false,

		events: "{{ path('lesson_events') }}",
		eventRender: function(event, element) {
			var title = element.find(".fc-title").text();
   			element.find(".fc-title").html("<strong>"+title+"</strong>" + "<br/>" + event.place);
			if ( ! event.active ) {	element.addClass("inactive"); }
		} 
	});
	
});

</script>
	
{% endblock %}

{% block body %}
<div id='calendar'></div>
{% endblock %}

