{% extends 'base.html.twig' %}

{% block title %}StagBundle:Lesson:index{% endblock %}

{% block body %}
<div class="lessons">
	<h1>Lessons</h1>
	<a class="btn btn-success" href="{{ path('lesson_add') }}">Add</a>
	<table class="table table-responsive">
	<thead>
		<tr>
			<th>id</th>
			<th>courseRef</th>
			<th>time</th>
			<th>length</th>
			<th>note</th>
			<th></th>
		</tr>
	</thead>
	<tbody>
		{% for lesson in lessons %}
                <tr>
                	<td>{{ lesson.id }}</td>
			<td><a  href="{{ path('course_book', {'id': lesson.courseRef.id}) }}">{{ lesson.courseRef.name }}</a></td>
			<td>{{ lesson.time|date('c') }}</td>
			<td>{{ lesson.length }}</td>
			<td>{{ lesson.note }}</td>
			<td>
				<a class="btn btn-xs btn-primary" href="{{ path('lesson_edit', {'id': lesson.id}) }}"><span class="glyphicon glyphicon-edit"></span> Edit</a>
				{{ render(controller("StagBundle:Lesson:delete", {'id': lesson.id})) }}
			</td>
		</tr>
    		{% endfor %}
	</tbody>
	</table>
</div>
{% endblock %}

{% block stylesheets %}
{% endblock %}
