{% extends 'AppBundle::base.html.twig' %}

{% block body %}
<div class="lessons">
	<h1>Lekce <a class="btn btn-xs btn-success" href="{{ path('lesson_add') }}"><span class="glyphicon glyphicon-plus"></span> Přidat</a></h1>
	
	<table class="datatable table table-responsive">
	<thead>
		<tr>
			<th>Id</th>
			<th>Kurz</th>
			<th>Čas</th>
			<th>Délka</th>
			<th>Úroveň</th>
			<th>Lektor</th>
			<th>Popis</th>
			<th class="no-sort"></th>
		</tr>
	</thead>
	<tbody>
		{% for lesson in lessons %}
                <tr>
                	<td>{{ lesson.id }}</td>
			<td><a  href="{{ path('course_manage', {'id': lesson.courseRef.id}) }}">{{ lesson.courseRef.name }}</a></td>
			<td>{{ lesson.time|date('c') }}</td>
			<td>{{ lesson.length }}</td>
			<td>{{ lesson.level }}</td>
			<td>{{ lesson.lecturer }}</td>
			<td>{{ lesson.description }}</td>
			<td>
				<a class="btn btn-xs btn-primary" href="{{ path('lesson_edit', {'id': lesson.id}) }}"><span class="glyphicon glyphicon-edit"></span> Upravit</a>
				{{ render(controller("StagBundle:Lesson:delete", {'id': lesson.id})) }}
			</td>
		</tr>
    		{% endfor %}
	</tbody>
	</table>
</div>
{% endblock %}

{% block stylesheets %}
{% endblock %}
