<!DOCTYPE html>
<html>

<head>
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<title>{% block title %}stag.tanecvplzni.cz{% endblock %}</title>

	<link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
	
	<link rel="stylesheet" href="{{ asset('css/bootstrap.min.css') }}" />
	<link rel="stylesheet" href="{{ asset('css/toastr.min.css') }}" />
	<script src="{{ asset('js/jquery-3.2.1.min.js') }}"></script>
	<script src="{{ asset('js/bootstrap.min.js') }}"></script>
	<script src="{{ asset('js/toastr.min.js') }}"></script>
	<style>
		.navbar-brand { padding: 0px; }
		.navbar-brand img { height: 100%; padding: 5px; width: auto; }

		/* globals */
		.padded { margin-bottom: 1em; }
	</style>
	{% block stylesheets %}{% endblock %}
</head>
<body>
	<nav class="navbar navbar-default">
	<div class="container">
        	<div class="navbar-header">
			<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			<a class="navbar-brand" href="{{ path('default_index') }}"><img src="{{ asset('logo.png') }}"></a>
		</div>
		<div id="navbar" class="collapse navbar-collapse">
			<ul class="nav navbar-nav">
				<li><a href="{{ path('course_grid') }}">Kurzy</a></li>
				<li><a href="{{ path('lesson_calendar') }}">Rozvrh</a></li>
				<li><a href="{{ path('participant_application') }}">Přihláška</a></li>
			</ul>

			{% if is_granted('IS_AUTHENTICATED_FULLY') %}
			<ul class="nav navbar-nav navbar-right">
		
				{% if is_granted('ROLE_ADMIN') %}
				<li><a href="{{ path('course_list') }}">Courses</a></li>
				<li><a href="{{ path('lesson_list') }}">Lessons</a></li>
				<li><a href="{{ path('participant_list') }}">Participants</a></li>
				<li><a href="{{ path('blob_list') }}">Blobs</a></li>
				<li><a href="{{ path('user_list') }}">Users</a></li>
				{% endif %}
				
				<li class="dropdown">
					<a href="#" class="dropdown-toggle" data-toggle="dropdown">
						<span class="glyphicon glyphicon-user"></span> 
						<strong>{{ app.user.username }}</strong>
						<span class="glyphicon glyphicon-chevron-down"></span>
					</a>
					<ul class="dropdown-menu">
						<li><a href="{{ path('user_changepassword') }}">Change password</a></li>
						<li><a href="{{ path('logout') }}">Logout</a></li>
					</ul>
				</li>
			</ul>
			{% else %}
			<ul class="nav navbar-nav navbar-right">
				<li><a href="{{ path('login') }}">Login</a></li>
			</ul>
			{% endif %}

		</div><!--/.nav-collapse -->
	</div>
	</nav>

	<div class="container-fluid">
		{% block body %}
		{% endblock %}
	</div>

	<script type="text/javascript">
		{% block javascripts %}
		toastr.options = {
			"closeButton": false,
			"debug": false,
			"progressBar": false,
			"positionClass": "toast-top-right",
			"preventDuplicates": false,
			"onclick": null,
			"showDuration": "300",
			"hideDuration": "1000",
			"timeOut": "5000",
			"extendedTimeOut": "1000",
			"showEasing": "swing",
			"hideEasing": "linear",
			"showMethod": "fadeIn",
			"hideMethod": "fadeOut"
		};
	        {% for label, messages in app.flashes %}
			var type = '{{ label }}';
			{% for message in messages %}
				toastr[type]('{{ message }}');
			{% endfor %}
		{% endfor %}
		{% endblock %}
	</script>
</body>
</html>
