{% extends 'AppBundle::base.html.twig' %}


{% block stylesheets %}
<script src="{{ asset('bundles/stag/jscolor/jscolor.min.js') }}"></script>

<link rel="stylesheet" href="{{ asset('bundles/stag/image-picker/image-picker.css') }}" />
<script src="{{ asset('bundles/stag/image-picker/image-picker.min.js') }}"></script>

<link rel="stylesheet" href="{{ asset('bundles/stag/selectize/selectize.bootstrap3.css') }}" />
<script src="{{ asset('bundles/stag/selectize/selectize.js') }}"></script>


<style>
.thumbnails li img { width: 100px; }
.help-block { margin-top: 0; }
</style>
{% endblock %}

{% block body %}
<div class="courses">
	<h1>Přidat / Upravit kurz</h1>
	{{ form_start(form) }}

	{{ form_row(form.name) }}
	{{ form_row(form.type) }}

        <div class="form-group">
		{{ form_label(form.level) }}
		<div class="col-sm-10">
			{{ form_errors(form.level) }}
			{{ form_widget(form.level) }}
			<div class="help-block">Pro kurz typu <em>párty</em> obsahuje seznam tanců za celou dobu pořádané akce.</div>
		</div>
	</div>

	<div class="form-group">
		{{ form_label(form.description) }}
		<div class="col-sm-10">
			{{ form_errors(form.description) }}
			{{ form_widget(form.description) }}
			<div class="help-block">Hlavní blok textových informací o kurzu pro prezentaci veřejnosti. Podporuje sazbu <a href="https://www.google.com/search?q=nápověda+k+markdown">markdown</a>.</div>
		</div>
	</div>

	<div class="form-group">
		{{ form_label(form.lecturer) }}
		<div class="col-sm-10">
			{{ form_errors(form.lecturer) }}
			{{ form_widget(form.lecturer) }}
			<div class="help-block">Pro kurz typu <em>párty</em> obsahuje vystupujícího diskžokeje. Pole podporuje doplňování z existujících položek.</div>
		</div>
	</div>

	<div class="form-group">
		{{ form_label(form.place) }}
		<div class="col-sm-10">
			{{ form_errors(form.place) }}
			{{ form_widget(form.place) }}
			<div class="help-block">Pole podporuje doplňování z existujících položek.</div>
		</div>
	</div>

	<div class="form-group">
		{{ form_label(form.color) }}
		<div class="col-sm-10">
			{{ form_errors(form.color) }}
			{{ form_widget(form.color) }}
			<div class="help-block">Barva pro zobrazení kurzu v rozvrhu.</div>
		</div>
	</div>

	<div class="form-group">
		{{ form_label(form.paymentInfo) }}
		<div class="col-sm-10">
			{{ form_errors(form.paymentInfo) }}
			{{ form_widget(form.paymentInfo) }}
			<div class="help-block">Informace o platbě, např. bankovní spojení, paypal link, ...</div>
		</div>
	</div>

	<div class="form-group">
		{{ form_label(form.applEmailText) }}
		<div class="col-sm-10">
			{{ form_errors(form.applEmailText) }}
			{{ form_widget(form.applEmailText) }}
			<div class="help-block">Text emailu který je účastníkovi odeslán po vyplnění přihlášky.</div>
		</div>
	</div>

	<div class="form-group">
        {{ form_label(form.bankAccount) }}
		<div class="col-sm-10">
            {{ form_errors(form.bankAccount) }}
            {{ form_widget(form.bankAccount) }}
			<div class="help-block">Číslo bankovního účtu pro příjem plateb. Prázdné pole do emailu <em>nedoplní</em> žádné platební údaje.</div>
		</div>
	</div>
	

        {% do form.pictureRef.setRendered %}
	<div class="form-group">
		<label class="col-sm-2 control-label required" for="course_pictureRef">Obrázek</label>
		<div class="col-sm-10">
			<select id="image-picker" class="image-picker show-html" name="course[pictureRef]">
				<option value=""></option>
				{% for blob in blobs %}
				<option 
					{% if form.pictureRef.vars.value == blob.id %} selected {% endif %}
					data-img-src="{{ path('blob_get', {'id': blob.fileName}) }}" 
					data-img-alt="{{ blob.fileName }}"
					value="{{ blob.id }}">{{ blob.fileName }}</option>
				{% endfor %}
			</select>
			<div class="help-block">Obrázek zobrazený s hlavním textem popisu kurzu.</div>
		</div>
	</div>

	<div class="form-group">
		{{ form_label(form.fbEventUrl) }}
		<div class="col-sm-10">
			{{ form_errors(form.fbEventUrl) }}
			{{ form_widget(form.fbEventUrl) }}
			<div class="help-block">Odkaz na facebook událost, pouze pro správce pro rychlejší nalezení správné události.</div>
		</div>
	</div>

	<div class="form-group">
		{{ form_label(form.fbGroupUrl) }}
		<div class="col-sm-10">
			{{ form_errors(form.fbGroupUrl) }}
			{{ form_widget(form.fbGroupUrl) }}
			<div class="help-block">Odkaz na facebook skupinu, pouze pro správce pro rychlejší nalezení správné skupiny.</div>
		</div>
	</div>

	<div class="form-group">
		{{ form_label(form.active) }}
		<label class="col-sm-2 control-label required" for="course_active">Aktivní</label>
		<div class="col-sm-10">
			{{ form_errors(form.active) }}
			{{ form_widget(form.active) }}
			<div class="help-block">Položka určuje viditelnost kurzu a jeho vstupů/přihlášek pro veřejnost.</div>
		</div>
	</div>	
	

	{% do form.save.setRendered %}
	<div class="form-group">
		<div class="col-sm-2"></div>
		<div class="col-sm-10"><button type="submit" id="course_save" name="course[save]" class="btn-default btn">Uložit</button></div>
	</div>

	{{ form_end(form) }}

</div>

<script>
$(document).ready(function() {

	$("#image-picker").imagepicker();

	$("#course_place").selectize({
		plugins: ['restore_on_backspace'],
		create: true,
		maxItems: 1,
		delimiter: null,
		createOnBlur: true,

		valueField: "value",
		labelField: "value",
		searchField: "value",
		load: function(query, callback) {
			if (!query.length) return callback();
			$.ajax({
				url: "{{ path('course_suggest_place') }}?",
				type: "GET",
				error: function() { callback(); },
				success: function(res) { callback(res); }
			});
		},
	});
	
	$("#course_lecturer").selectize({
		plugins: ['restore_on_backspace'],
		create: true,
		maxItems: 1,
		delimiter: null,
		createOnBlur: true,

		valueField: "value",
		labelField: "value",
		searchField: "value",
		load: function(query, callback) {
			if (!query.length) return callback();
			$.ajax({
				url: "{{ path('course_suggest_lecturer') }}?",
				type: "GET",
				error: function() { callback(); },
				success: function(res) { callback(res); }
			});
		},
	});
	
});
</script>

{% endblock %}

