{% extends 'base.html.twig' %}

{% block title %}StagBundle:Course:book{% endblock %}

{% block body %}
<div class="courses">
	<div class="hidden-print" style="padding-bottom:1em;">
		<a class="btn btn-xs btn-default" href="{{ path('course_show', {'id': course.id}) }}"><span class="glyphicon glyphicon-film"></span> Show</a>				
		<a class="btn btn-xs btn-primary" href="{{ path('course_edit', {'id': course.id}) }}"><span class="glyphicon glyphicon-edit"></span> Edit</a>
		<a class="btn btn-xs btn-warning" href="{{ path('course_schedule', {'id': course.id}) }}"><span class="glyphicon glyphicon-list-alt"></span> Schedule</a>
		<a class="btn btn-xs btn-default" href="{{ path('course_book', {'id': course.id}) }}"><span class="glyphicon glyphicon-education"></span> Book</a>				
		<a class="btn btn-xs btn-info" href="{{ path('participant_application', {'course_id': course.id}) }}"><span class="glyphicon glyphicon-plus"></span> Enrol</a>				
		{{ render(controller("StagBundle:Course:delete", {'id': course.id})) }}
	</div>
	
	<ul class="list-inline well">
		<li><strong>Course:</strong> {{course.name}}</li>
		<li><strong>Lecturer:</strong> {{course.lecturer}}</li>
		<li><strong>Place:</strong> {{course.place}}</li>
		<li><strong>Type:</strong> {{course.type}}</li>
		<li><strong>No. lessons:</strong> {{course.lessons|length}}</li>
		<li><strong>Lessons:</strong> 
			{% for tmp in course.lessons %}{{ tmp.time|date("c") }}; {% endfor %}
		</li>
	</ul>
	
	<table class="table">
		<tr>
			<th>id</td>
			<th>sn</th>
			<th>email</th>
			<th>phoneNumber</th>
			<th>gender</th>
			<th>paired</th>
			<th>partner</th>
			<th>note</th>
			<th>deposit</th>
			<th>payment</th>
			<th>created</th>
			<th class="hidden-print"></th>
		<tr>
		{% for participant in course.participants %}
		<tr>
			<td>{{ participant.id }}</td>
			<td>{{ participant.sn }}</td>
			<td>{{ participant.email }}</td>
			<td>{{ participant.phoneNumber }}</td>
			<td>{{ participant.gender }}</td>
			<td>{{ participant.paired }}</td>
			<td>{{ participant.partner }}</td>
			<td>{{ participant.note }}</td>

			<td>
				{% if participant.deposit == "wire" %}
					<span class="glyphicon glyphicon-retweet text-success"></span>
				{% elseif participant.deposit == "cash" %}
					<span class="glyphicon glyphicon-hand-right text-success"></span>
				{% else %}
					{{ participant.deposit }}
				{% endif %}

				{% if participant.deposit %}
					{{ render(controller("StagBundle:Participant:deposit", {'id': participant.id, 'value': null})) }}
				{% else %}
					{{ render(controller("StagBundle:Participant:deposit", {'id': participant.id, 'value': 'wire'})) }}
					{{ render(controller("StagBundle:Participant:deposit", {'id': participant.id, 'value': 'cash'})) }}
				{% endif %}
			</td>


			<td>
				{% if participant.payment == "wire" %}
					<span class="glyphicon glyphicon-retweet text-success"></span>
				{% elseif participant.payment == "cash" %}
					<span class="glyphicon glyphicon-hand-right text-success"></span>
				{% else %}
					{{ participant.payment }}
				{% endif %}

				{% if participant.payment %}
					{{ render(controller("StagBundle:Participant:payment", {'id': participant.id, 'value': null})) }}
				{% else %}
					{{ render(controller("StagBundle:Participant:payment", {'id': participant.id, 'value': 'wire'})) }}
					{{ render(controller("StagBundle:Participant:payment", {'id': participant.id, 'value': 'cash'})) }}
				{% endif %}
			</td>


			<td>{{ participant.created|date('c')[0:10] }}</td>
			<td class="hidden-print">
				<a class="btn btn-xs btn-primary" href="{{ path('participant_edit', {'id': participant.id}) }}"><span class="glyphicon glyphicon-edit"></span> Edit</a>
				{{ render(controller("StagBundle:Participant:delete", {'id': participant.id})) }}
			</td>
		<tr>
		{% endfor %}
	</table>
</div>
{% endblock %}

{% block stylesheets %}
{% endblock %}
