{% extends 'base.html.twig' %}

{% block title %}StagBundle:Course:grid{% endblock %}

{% block body %}
<div class="courses container">
	<div class="row text-center" style="padding-bottom: 2em;">
	<h1>Otevřené kurzy</h1>
	</div>

	{% for course in courses %}
	<div class="row">
		<a href="{{ path('course_show', {'id': course.id}) }}">
		<div class="panel panel-default center-block" style="max-width:500px;">
			<div class="panel-heading">
				<span class="glyphicon glyphicon-th-large" style="color: {{course.color}};"></span>&nbsp;{{course.name}}
			</div>
 			<div class="panel-body">
 				{% if course.pictureRef %}
  				<center><img class="img-responsive img-rounded coursepicture" src="{{ path('blob_get', {'id': course.pictureRef.fileName}) }}"></center>
  				{% endif %}
				<div class="text-center">
					{{course.level}} <strong>{{course.teacher}}</strong>
					<br/>
					{{course.place}} <strong>{{course.timespan}}</strong>
				</div>
  			</div>
  		</div>
  		</a>
	</div>
	{% endfor %}
</div>
{% endblock %}

{% block stylesheets %}
<style>
.coursepicture { max-height: 15em; margin: 0.5em; }
a { color: inherit; }
a:hover{ color: inherit; text-decoration: none; 	}
}
</style>
{% endblock %}
