{% extends 'base.html.twig' %}

{% block stylesheets %}
<style>
.legend div span { margin:1px; }
</style>
{% endblock %}

{% block body %}
<div class="courses">

	<div class="row legend">
		<div class="col-xs-2"><h1>Courses <a class="btn btn-success" href="{{ path('course_add') }}">Add</a></h1></div>
		<div class="col-xs-6 pull-right text-right">
			Legend:
			<span class="label label-info">
				<span title="pair" class="glyphicon glyphicon-repeat"></span>
				regular
			</span>
			<span class="label label-info">
				<span title="pair" class="glyphicon glyphicon-record"></span>
				workshop
			</span>
			<span class="label label-info">
				<span title="pair" class="glyphicon glyphicon-glass"></span>
				party
			</span>
		</div>
	</div>

	<table class="table table-responsive">
	<thead>
		<tr>
			<th>id</th>
			<th>name</th>
			<th>type</th>
			<th>level</th>
			<th>description</th>
			<th>lecturer</th>
			<th>place</th>
			<th>color</th>
			<th>applEmailText</th>
			<th>pictureRef</th>
			<th>No. lessons</th>
			<th>No. tickets</th>
			<th>No. participants</th>
			<th></th>
		</tr>
	</thead>
	<tbody>
		{% for course in courses %}
                <tr>
                	<td>{{ course.id }}</td>
			<td><a  href="{{ path('course_book', {'id': course.id}) }}">{{ course.name }}</a></td>
			<td>{% include 'StagBundle:Course:icon.html.twig' %}</td>
			<td>{{ course.level }}</td>
			<td>{{ course.description[0:20] }}...</td>
			<td>{{ course.lecturer }}</td>
			<td>{{ course.place }}</td>
			
			<td><span style="background-color: {{ course.color }};">{{ course.color }}<span></td>
			<td>{{ course.applEmailText[0:20] }}...</td>
			<td>{% if course.pictureRef %}<img src={{ path('blob_get', {'id': course.pictureRef.id}) }} style="height: 70px;">{% endif %}</td>
			<td>{{ course.lessons|length }}</td>
			<td>{{ course.tickets|length }}</td>
			<td>
				{% set counter = 0 %}
				{% for ticket in course.tickets %}{% set counter = counter + ticket.participants|length %}{% endfor %}
				{{ counter }}
			</td>
			
			<td>
				{% include 'StagBundle:Course:toolbox.html.twig' %}			
			</td>
		</tr>
    		{% endfor %}
	</tbody>
	</table>
</div>
{% endblock %}
