{% extends 'base.html.twig' %}

{% block title %}StagBundle:Course:index{% endblock %}

{% block body %}
<div class="courses">
	<h1>Courses</h1>
	<a class="btn btn-success" href="{{ path('course_add') }}">Add</a>
	<table class="table table-responsive">
	<thead>
		<tr>
			<th>id</th>
			<th>name</th>
			<th>level</th>
			<th>description</th>
			<th>lecturer</th>
			<th>place</th>
			<th>type</th>
			<th>pair</th>
			<th>priceSingle</th>
			<th>pricePair</th>
			<th>color</th>
			<th>applEmailText</th>
			<th>pictureRef</th>
			<th>No. lessons</th>
			<th>No. participants</th>
			<th></th>
		</tr>
	</thead>
	<tbody>
		{% for course in courses %}
                <tr>
                	<td>{{ course.id }}</td>
			<td><a  href="{{ path('course_book', {'id': course.id}) }}">{{ course.name }}</a></td>
			<td>{{ course.level }}</td>
			<td>{{ course.description[0:20] }}...</td>
			<td>{{ course.lecturer }}</td>
			<td>{{ course.place }}</td>
			
			<td>
				{% if course.type == "regular" %}
					<span class="glyphicon glyphicon-repeat" title="{{ course.type }}"></span>
				{% elseif course.type == "workshop" %}
					<span class="glyphicon glyphicon-record" title="{{ course.type }}"></span>
				{% else %}
					{{ course.type }}
				{% endif %}
			</td>
			
			<td>
				{% if course.pair %}
					<i class="fa fa-male" aria-hidden="true"></i>
					<i class="fa fa-female" aria-hidden="true"></i>
				{% else %}
					<i class="fa fa-qq" aria-hidden="true"></i>
				{% endif %}
			</td>
			
			<td>{{ course.priceSingle }}</td>
			<td>{{ course.pricePair }}</td>
			<td><span style="background-color: {{ course.color }};">{{ course.color }}<span></td>
			<td>{{ course.applEmailText[0:20] }}...</td>
			<td>{% if course.pictureRef %}<img src={{ path('blob_get', {'id': course.pictureRef.id}) }} style="height: 100px;">{% endif %}</td>
			<td>{{ course.lessons|length }}</td>
			<td>{{ course.participants|length }}</td>
			<td>
				<a class="btn btn-xs btn-default" href="{{ path('course_show', {'id': course.id}) }}"><span class="glyphicon glyphicon-film"></span> Show</a>				
				<a class="btn btn-xs btn-primary" href="{{ path('course_edit', {'id': course.id}) }}"><span class="glyphicon glyphicon-edit"></span> Edit</a>
				<a class="btn btn-xs btn-warning" href="{{ path('course_schedule', {'id': course.id}) }}"><span class="glyphicon glyphicon-list-alt"></span> Schedule</a>
				<a class="btn btn-xs btn-default" href="{{ path('course_book', {'id': course.id}) }}"><span class="glyphicon glyphicon-education"></span> Book</a>				
				<a class="btn btn-xs btn-info" href="{{ path('participant_application', {'course_id': course.id}) }}"><span class="glyphicon glyphicon-plus"></span> Enrol</a>				
				{{ render(controller("StagBundle:Course:delete", {'id': course.id})) }}
			</td>
		</tr>
    		{% endfor %}
	</tbody>
	</table>
</div>
{% endblock %}

{% block stylesheets %}
{% endblock %}
