{% extends 'base.html.twig' %}

{% block title %}StagBundle:Course:index{% endblock %}


{% block stylesheets %}
<style>
.legend div span { margin:1px; }
</style>
{% endblock %}

{% block body %}
<div class="courses">

	<div class="row legend">
		<div class="col-xs-2"><h1>Courses <a class="btn btn-success" href="{{ path('course_add') }}">Add</a></h1></div>
		<div class="col-xs-6 pull-right text-right">
			Legend:
			<span class="label label-info">
				<span title="pair" class="glyphicon glyphicon-repeat"></span>
				regular
			</span>
			<span class="label label-info">
				<span title="pair" class="glyphicon glyphicon-record"></span>
				workshop
			</span>
			<span class="label label-info">
				<span title="pair" class="glyphicon glyphicon-glass"></span>
				party
			</span>

			<span class="label label-primary">
				<span title="pair" class="fa fa-male"></span>
				<span title="pair" class="fa fa-female"></span>
				pair
			</span>
			<span class="label label-primary">
				<span title="pair" class="fa fa-qq"></span>
				single
			</span>
		</div>
	</div>

	<table class="table table-responsive">
	<thead>
		<tr>
			<th>id</th>
			<th>name</th>
			<th>type</th>
			<th>level</th>
			<th>description</th>
			<th>lecturer</th>
			<th>place</th>
			<th>pair</th>
			<th>priceSingle</th>
			<th>pricePair</th>
			<th>color</th>
			<th>applEmailText</th>
			<th>pictureRef</th>
			<th>No. lessons</th>
			<th>No. participants</th>
			<th></th>
		</tr>
	</thead>
	<tbody>
		{% for course in courses %}
                <tr>
                	<td>{{ course.id }}</td>
			<td><a  href="{{ path('course_book', {'id': course.id}) }}">{{ course.name }}</a></td>

			<td>
				{% if course.type == "regular" %}
					<span class="glyphicon glyphicon-repeat" title="{{ course.type }}"></span>
				{% elseif course.type == "workshop" %}
					<span class="glyphicon glyphicon-record" title="{{ course.type }}"></span>
				{% elseif course.type == "party" %}
					<span class="glyphicon glyphicon-glass" title="{{ course.type }}"></span>
				{% else %}
					{{ course.type }}
				{% endif %}
			</td>

			<td>{{ course.level }}</td>
			<td>{{ course.description[0:20] }}...</td>
			<td>{{ course.lecturer }}</td>
			<td>{{ course.place }}</td>
			
			<td>
				{% if course.pair %}
					<span title="pair" class="fa fa-male"></span>
					<span title="pair" class="fa fa-female"></span>
				{% else %}
					<span title="single" class="fa fa-qq"></span>
				{% endif %}
			</td>
			
			<td>{{ course.priceSingle }},-</td>
			<td>
				{% if not course.pair %}<del>{% endif %}
				{{ course.pricePair }},-
				{% if not course.pair %}</del>{% endif %}
			</td>
			<td><span style="background-color: {{ course.color }};">{{ course.color }}<span></td>
			<td>{{ course.applEmailText[0:20] }}...</td>
			<td>{% if course.pictureRef %}<img src={{ path('blob_get', {'id': course.pictureRef.id}) }} style="height: 100px;">{% endif %}</td>
			<td>{{ course.lessons|length }}</td>
			<td>{{ course.participants|length }}</td>
			<td>
				<a class="btn btn-xs btn-default" href="{{ path('course_show', {'id': course.id}) }}"><span class="glyphicon glyphicon-film"></span> Show</a>				
				<a class="btn btn-xs btn-primary" href="{{ path('course_edit', {'id': course.id}) }}"><span class="glyphicon glyphicon-edit"></span> Edit</a>
				<a class="btn btn-xs btn-warning" href="{{ path('course_schedule', {'id': course.id}) }}"><span class="glyphicon glyphicon-list-alt"></span> Schedule</a>
				<a class="btn btn-xs btn-default" href="{{ path('course_book', {'id': course.id}) }}"><span class="glyphicon glyphicon-education"></span> Book</a>				
				<a class="btn btn-xs btn-info" href="{{ path('participant_application', {'course_id': course.id}) }}"><span class="glyphicon glyphicon-plus"></span> Enrol</a>				
				{{ render(controller("StagBundle:Course:delete", {'id': course.id})) }}
			</td>
		</tr>
    		{% endfor %}
	</tbody>
	</table>
</div>
{% endblock %}
