{% extends 'AppBundle::base.html.twig' %}

{% block stylesheets %}
<style>
.legend div span { margin:1px; }
</style>
{% endblock %}

{% block body %}
<div class="courses">

	<div class="row legend">
		<div class="col-xs-2"><h1>Kurzy <a class="btn btn-xs btn-success" href="{{ path('course_add') }}"><span class="glyphicon glyphicon-plus"></span> Přidat</a></h1></div>
		<div class="col-xs-6 pull-right text-right">
			Legenda:
			<span class="label label-info">
				<span title="pair" class="glyphicon glyphicon-repeat"></span>
				pravidelný
			</span>
			<span class="label label-info">
				<span title="pair" class="glyphicon glyphicon-record"></span>
				workshop
			</span>
			<span class="label label-info">
				<span title="pair" class="glyphicon glyphicon-glass"></span>
				párty
			</span>
		</div>
	</div>

	<table class="datatable table table-responsive">
	<thead>
		<tr>
			<th>Id</th>
			<th>Název</th>
			<th class="no-sort">Typ / Barva</th>
			<th>Úroveň</th>
			<th>Popis</th>
			<th>Lektor</th>
			<th>Místo</th>
			<th class="no-sort">Obrázek</th>
			<th class="no-sort">Email odpovědi / FB</th>
			<th class="no-sort">Obsazenost ženy+muži</th>
			<th class="no-sort">Aktivní</th>
			<th class="no-sort"></th>
		</tr>
	</thead>
	<tbody>
		{% for course in courses %}
                <tr class="{% if not course.active %}inactive{% endif %}">
                	<td>{{ course.id }}</td>
			<td><a  href="{{ path('course_manage', {'id': course.id}) }}">{{ course.name }}</a></td>
			<td>
				{% include 'StagBundle:Course:icon.html.twig' %}
				<span style="background-color: {{ course.color }};"> &nbsp; &nbsp;<span>
			</td>
			<td>{{ course.level }}</td>
			<td>{{ course.description[0:20] }}...</td>
			<td>{{ course.lecturer }}</td>
			<td>{{ course.place }}</td>
			<td>{% if course.pictureRef %}<img src={{ path('blob_get', {'id': course.pictureRef.id}) }} style="height: 50px;">{% endif %}</td>
			<td>
				{% include 'StagBundle:Course:applemailpopover.html.twig' %}
				&nbsp;
				{% include 'StagBundle:Course:fblinks.html.twig' %}
			</td>
			<td>{% include 'StagBundle:Course:occupancy.html.twig' %}</td>
			<td>{{ render(controller("StagBundle:Course:active", {'id': course.id})) }}</td>
			<td>
				{% include 'StagBundle:Course:toolbox.html.twig' %}			
			</td>
		</tr>
    		{% endfor %}
	</tbody>
	</table>
</div>
{% endblock %}
