{% extends 'base.html.twig' %}

{% block stylesheets %}
<style>
.legend div span { margin:1px; }
</style>
{% endblock %}

{% block body %}
<div class="courses">

	<div class="row legend">
		<div class="col-xs-2"><h1>Kurzy <a class="btn btn-success" href="{{ path('course_add') }}">Přidat</a></h1></div>
		<div class="col-xs-6 pull-right text-right">
			Legenda:
			<span class="label label-info">
				<span title="pair" class="glyphicon glyphicon-repeat"></span>
				běžný
			</span>
			<span class="label label-info">
				<span title="pair" class="glyphicon glyphicon-record"></span>
				workshop
			</span>
			<span class="label label-info">
				<span title="pair" class="glyphicon glyphicon-glass"></span>
				párty
			</span>
		</div>
	</div>

	<table class="table table-responsive">
	<thead>
		<tr>
			<th>Id</th>
			<th>Název</th>
			<th>Typ</th>
			<th>Úroveň</th>
			<th>Popis</th>
			<th>Lektor</th>
			<th>Místo</th>
			<th>Barva</th>
			<th>Email odpovědi</th>
			<th>Obrázek</th>
			<th>FB událost / skupina</th>
			<th>Aktivní</th>
			<th>Počet lekcí/vstupů/účastníků</th>
			<th></th>
		</tr>
	</thead>
	<tbody>
		{% for course in courses %}
                <tr class="{% if not course.active %}inactive{% endif %}">
                	<td>{{ course.id }}</td>
			<td><a  href="{{ path('course_book', {'id': course.id}) }}">{{ course.name }}</a></td>
			<td>{% include 'StagBundle:Course:icon.html.twig' %}</td>
			<td>{{ course.level }}</td>
			<td>{{ course.description[0:20] }}...</td>
			<td>{{ course.lecturer }}</td>
			<td>{{ course.place }}</td>
			
			<td><span style="background-color: {{ course.color }};">{{ course.color }}<span></td>
			<td>{{ course.applEmailText[0:20] }}...</td>
			<td>{% if course.pictureRef %}<img src={{ path('blob_get', {'id': course.pictureRef.id}) }} style="height: 50px;">{% endif %}</td>
			<td>
				{% if course.fbEventUrl %}<a href="{{ course.fbEventUrl }}"><span class="fa fa-calendar"</span></a>{% endif %}
				{% if course.fbGroupUrl %}<a href="{{ course.fbGroupUrl }}"><span class="fa fa-group"</span></a>{% endif %}
			</td>
			<td>{{ render(controller("StagBundle:Course:active", {'id': course.id})) }}</td>
			<td>
				{% set counter = 0 %}
				{% for ticket in course.tickets %}{% set counter = counter + ticket.participants|length %}{% endfor %}
				{{ course.lessons|length }} / {{ course.tickets|length }} / {{ counter }}
			</td>
			
			<td>
				{% include 'StagBundle:Course:toolbox.html.twig' %}			
			</td>
		</tr>
    		{% endfor %}
	</tbody>
	</table>
</div>
{% endblock %}
