{% extends 'AppBundle::base.html.twig' %}

{% block stylesheets %}
<style>
.panel-heading { padding: 0.5em 0.5em; }
.panel-body { padding: 0.5em; }
.table { margin-bottom: 0; }
</style>
{% endblock %}

{% block body %}
<div class="courses">

	{% include 'StagBundle:Course:toolbox.html.twig' %}
	
	{% if not course.active %}<div class="alert alert-danger text-center">Tento kurz není aktivní.</div>{% endif %}

	<ul class="list-inline well {% if not course.active %}inactive{% endif %}">
		<li><strong>Kurz:</strong> {{course.name}}</li>
		<li>
			<strong>Typ:</strong> {{course.type}}
			{% for k, v in constant('StagBundle\\Entity\\Course::ALL_TYPES') %}{% if v == course.type %}{{ k }}{% endif %}{% endfor %}
		</li>
		<li><strong>Úroveň:</strong> {{course.level}}</li>
		<li><strong>Lektor:</strong> {{course.lecturer}}</li>
		<li><strong>Místo:</strong> {{course.place}}</li>
		<li><strong>Platební informace:</strong> {{course.paymentInfo}}</li>
		<p>
		<li><strong>Email odpovědi na přihlásku:</strong>{% include 'StagBundle:Course:applemailpopover.html.twig' %}</li>
		<li><strong>FB:</strong>
			{% if course.fbEventUrl %}<a href="{{ course.fbEventUrl }}"><span class="fa fa-calendar"></span></a>{% endif %}
			{% if course.fbGroupUrl %}<a href="{{ course.fbGroupUrl }}"><span class="fa fa-group"></span></a>{% endif %}
		</li>
		<li><strong>Aktivní:</strong> {{ render(controller("StagBundle:Course:active", {'id': course.id})) }}</li>
		<li><strong>Obsazenost ženy + muži = celkem:</strong> {% include 'StagBundle:Course:occupancy.html.twig' %}</li>
	</ul>
	
	<div class="row hidden-print">
		<div class="col-md-6">

			<div class="panel panel-default">
				<div class="panel-heading">Lekce</div>
				<div class="panel-body"><!-- lessons panel body -->
				
					{% if course.lessons is empty %}
						<div class="padded">Žádné lekce.</div>
						<div>
							<a class="btn btn-xs btn-warning" href="{{ path('course_schedule', {'id': course.id}) }}"><span class="glyphicon glyphicon-list-alt"></span> Naplánovat kurz</a>
							nebo						
							<a class="btn btn-xs btn-warning" href="{{ path('lesson_add', {'course_id': course.id}) }}"><span class="glyphicon glyphicon-list-alt"></span> Přidat lekci</a>
						</div>
					{% else %}
					<table class="table table-stripped">
						<thead><tr>
							<th>Čas</th>
							<th>Úroveň</th>
							<th>Lektor</th>
							<th>Popis</th>
							<th></th>
						</tr></thead>

						<tbody>
						{% for tmp in course.lessons %}
							<tr>
							<td>{{ tmp.time|date('d.m.Y H:i') }} - {{ tmp.time|date_modify(tmp.length~" minutes")|date('H:i') }}</td>
							<td>{{ tmp.level }}</td>
							<td>{{ tmp.lecturer }}</td>
							<td>{{ tmp.description }}</td>
							<td>
								<a class="btn btn-xs btn-primary" href="{{ path('lesson_edit', {'id': tmp.id}) }}"><span class="glyphicon glyphicon-edit"></span> Upravit</a>
								{{ render(controller("StagBundle:Lesson:delete", {'id': tmp.id})) }}
							</td>
							</tr>
						{% endfor %}
						</tbody>
					</table>
					{% endif %}
					
				</div><!-- lessons panel body -->
			</div>

		</div>
		
		<div class="col-md-6">
			<div class="panel panel-default">
				<div class="panel-heading">Vstupy</div>
				<div class="panel-body"><!-- tickets panel body -->
				
					{% if course.tickets is empty %}
						<div class="padded">Žádné vstupy.</div>
						<div>
									<a class="btn btn-xs btn-info" href="{{ path('ticket_add', {'course_id': course.id}) }}"><span class="glyphicon glyphicon-plus"></span> Přidat vstup</a>
						</div>
					{% else %}

					<table class="table table-stripped">
						<thead><tr>
							<th>Jméno</th>
							<th>Cena</th>
							<th>Aktivní</th>
							<th></th>
						</tr></thead>

						<tbody>
						{% for ticket in course.tickets %}
							<tr class="{% if not ticket.active %}inactive{% endif %}">
							<td>{{ ticket.name }}</td>
							<td>{{ ticket.price }},-</td>
							<td>{{ render(controller("StagBundle:Ticket:active", {'id': ticket.id})) }}</td>
							<td>
								<a class="btn btn-xs btn-info" href="{{ path('participant_application', {'ticket_id': ticket.id}) }}"><span class="glyphicon glyphicon-plus"></span> Přihlásit</a>
								<a class="btn btn-xs btn-primary" href="{{ path('ticket_edit', {'id': ticket.id}) }}"><span class="glyphicon glyphicon-edit"></span> Upravit</a>
								{{ render(controller("StagBundle:Ticket:delete", {'id': ticket.id})) }}
							</td>
							</tr>
						{% endfor %}
						</tbody>
					</table>
					{% endif %}
					
				</div><!-- tickets panel body -->
			</div>
		</div>
	
	</div><!-- lessons and tickets row -->


	<table class="datatable table">
	<thead>
		<tr>
			<th>Id</td>
			<th>Jméno</th>
			<th>Přijmení</th>
			<th>Email</th>
			<th>Telefon</th>
			<th>Pohlaví</th>
			<th>Partner</th>
			<th>Reference</th>
			<th>Poznámka</th>
			<th>Vstup</th>
			<th class="no-sort">Záloha</th>
			<th class="no-sort">Platba</th>
			<th>VS platby</th>
			<th>Vytvořeno</th>
			<th class="no-sort hidden-print"></th>
		</tr>
	</thead>

	<tbody>
		{% for ticket in course.tickets %}
		{% for participant in ticket.participants %}
		<tr>
			<td>{{ participant.id }}</td>
			<td>{{ participant.gn }}</td>
			<td>{{ participant.sn }}</td>
			<td>{{ participant.email }}</td>
			<td>{{ participant.phoneNumber }}</td>
			<td>{{ participant.gender }}</td>
			<td>{{ participant.partner }}</td>
			<td>{{ participant.reference }}</td>
			<td>{{ participant.note }}</td>
			<td>{{ participant.ticketRef.name }}</td>

			<td>
				{% include 'StagBundle:Participant:boxDeposit.html.twig' %}
			</td>
			<td>
				{% include 'StagBundle:Participant:boxPayment.html.twig' %}
			</td>
			<td>{{ participant.paymentReference }}</td>

			<td>{{ participant.created|date('c')[0:10] }}</td>
			<td class="hidden-print">
				<a class="btn btn-xs btn-primary" href="{{ path('participant_edit', {'id': participant.id}) }}"><span class="glyphicon glyphicon-edit"></span> Edit</a>
				{{ render(controller("StagBundle:Participant:delete", {'id': participant.id})) }}
			</td>
		</tr>
		{% endfor %}
		{% endfor %}
	</tbody>
	</table>


</div>
{% endblock %}
