{% extends 'AppBundle::base.html.twig' %}

{% block stylesheets %}
	<script src="{{ asset('bundles/stag/fullcalendar/moment.min.js') }}"></script>

<script>
function generateSchedule() {
	var schedule = [];

	var numberOfLessons = prompt("Počet lekcí", "10");
	var firstLesson = prompt("První lekce", document.getElementById("course_schedule_schedule").value.split("\n")[0]);
	var firstDate = moment(firstLesson, 'DD.MM.YYYY HH:mm');

	for( var i = 0; i < numberOfLessons; i++) {
		schedule.push(firstDate.clone().add(i*7, 'days').format('DD.MM.YYYY HH:mm'));
	}
	document.getElementById("course_schedule_schedule").value = schedule.join("\n");
}
</script>
{% endblock %}

{% block body %}
<div class="courses">
	<h1>Naplánovat kurz {{course.name}}</h1>

	{{ form_start(form) }}
	
        <div class="form-group">
		{{ form_label(form.schedule) }}
		<div class="col-sm-10">
			{{ form_errors(form.schedule) }}
			{{ form_widget(form.schedule) }}
			<div class="help-block">
				Datumy a časy začátků lekcí ve formátu '6.7.1415 02:03'.
				Jednotlivé lekce jsou zapsány každá na samostatný řádek,
				rozvrh pravidelného kurzu je možné <a href="javascript:generateSchedule();">vygenerovat v týdením intervalu</a>,
				případně vygenerovaný seznam ručně upravit vychází-li rozvrh přes prázdniny nebo státní svátky.
			</div>
		</div>
	</div>

        <div class="form-group">
		{{ form_label(form.length) }}
		<div class="col-sm-10">
			{{ form_errors(form.length) }}
			{{ form_widget(form.length) }}
			<div class="help-block">Délka lekce v minutách.</div>
		</div>
	</div>

        {{ form_end(form) }}
</div>

{% endblock %}

