{% extends 'base.html.twig' %}

{% block stylesheets %}
<style>
h2 { margin-top: 0; margin-bottom: 0em; }
</style>
{% endblock %}


{% block body %}
<div class="courses container">

	<div class="row">
	
		<div class="col-md-6">

			{% include 'StagBundle:Course:toolbox.html.twig' %}
		
			{% if course.pictureRef %}
			<div class="text-center padded">
				<img style="max-height: 15em;" class="img-responsive img-rounded center-block" src="{{ path('blob_get', {'id': course.pictureRef.fileName}) }}">
			</div>
			{% endif %}

			<div class="text-justify padded">
				{{course.description|markdown}}
			</div>

		</div>
		<div class="col-md-2">
		</div>
	
		<div class="well col-md-4">
			<h2 class="text-center">
				{% include 'StagBundle:Course:icon.html.twig' %}
				&nbsp;{{course.name}}
			</h2>
			
			<table class="table">
				<tr><td><strong>Místo</strong></td><td>{{course.place}}</td></tr>
				<tr><td><strong>DJ</strong></td><td>{{course.lecturer}}</td></tr>
				<tr><td><strong>Tance</strong></td><td>{{course.level}}</td></tr>
			</table>
			
			<div class="panel panel-info">
				<div class="panel-heading">Datum konání</div>
				<div class="panel-body">
					<ul class="list-group">
					{% for lesson in course.lessons %}
						<li class="list-group-item">{{lesson.time|date('d.m.Y H:i T')}}</li>
					{% endfor %}
					</ul>
				</div>
			</div>
  		</div>
	</div>
</div>
{% endblock %}
