{% extends 'base.html.twig' %}

{% block title %}StagBundle:Course:show{% endblock %}

{% block body %}
<div class="courses container">

	<div class="row">
	
		<div class="col-md-6 text-justify">
			<h1>{{course.name}}</h1>
			
			<div style="padding-bottom: 3em;">
				{{course.description}}
			</div>

			<div class="text-center">
			<a class="btn btn-lg btn-info" href="{{ path('participant_application', {'course_id': course.id}) }}">Přihlásit se</a>
			</div>
			
			{% if is_granted('ROLE_ADMIN') %}
			<div class="text-center hidden-print well" style="margin:1em;">
				Admin:
				<a class="btn btn-xs btn-default" href="{{ path('course_show', {'id': course.id}) }}"><span class="glyphicon glyphicon-film"></span> Show</a>				
				<a class="btn btn-xs btn-primary" href="{{ path('course_edit', {'id': course.id}) }}"><span class="glyphicon glyphicon-edit"></span> Edit</a>
				<a class="btn btn-xs btn-warning" href="{{ path('course_schedule', {'id': course.id}) }}"><span class="glyphicon glyphicon-list-alt"></span> Schedule</a>
				<a class="btn btn-xs btn-default" href="{{ path('course_book', {'id': course.id}) }}"><span class="glyphicon glyphicon-education"></span> Book</a>				
				<a class="btn btn-xs btn-info" href="{{ path('participant_application', {'course_id': course.id}) }}"><span class="glyphicon glyphicon-plus"></span> Enrol</a>				
				{{ render(controller("StagBundle:Course:delete", {'id': course.id})) }}
			</div>
			{% endif %}
		</div>
	
		<div class="well col-md-4 pull-right">
			<table class="table">
				<tr><td><strong>Lektor</strong></td><td>{{course.teacher}}</td></tr>
				<tr><td><strong>Místo</strong></td><td>{{course.place}}</td></tr>
				<tr><td><strong>Vhodný pro</strong></td><td>{% if (course.pair) %}taneční pár{% else %}jednotlivce{% endif %}</td></tr>
				<tr><td><strong>Kapacita</strong></td><td>{{course.capacity}}</td></tr>
				<tr><td><strong>Počet lekcí</strong></td><td>{{course.lessons|length}}</td></tr>
			</table>
			
			<div class="panel panel-info">
				<div class="panel-heading">Rozvrh lekcí</div>
				<div class="panel-body">
					<ul class="list-group">
					{% for lesson in course.lessons %}
						<li class="list-group-item">{{lesson.time|date('d.m.Y H:i T')}}</li>
					{% endfor %}
					</ul>
				</div>
			</div>
  		</div>
	</div>
</div>
{% endblock %}

{% block stylesheets %}
{% endblock %}
