{% extends 'base.html.twig' %}

{% block stylesheets %}
<style>
h2 { margin-top: 0; margin-bottom: 0em; }
</style>
{% endblock %}


{% block body %}
<div class="courses container">

	<div class="row">
	
		<div class="col-md-6">

			{% include 'StagBundle:Course:toolbox.html.twig' %}
		
			{% if course.pictureRef %}
			<div class="text-center padded">
				<img style="max-height: 15em;" class="img-responsive img-rounded center-block" src="{{ path('blob_get', {'id': course.pictureRef.fileName}) }}">
			</div>
			{% endif %}

			<div class="text-justify padded">
				{{course.description|markdown}}
			</div>
			
			{% if course.tickets is not empty %}
			<div class="text-center padded">
				<a class="btn btn-lg btn-info" href="{{ path('participant_application', {'course_id': course.id}) }}">Přihlásit se</a>
			</div>
			{% endif %}

		</div>
		<div class="col-md-2">
		</div>
	
		<div class="well col-md-4"><!-- side panel -->
			<h2 class="text-center">
				{% include 'StagBundle:Course:icon.html.twig' %}
				&nbsp;{{course.name}}
			</h2>
			
			{% if course.lessons is not empty%}
			<div class="text-center padded">
				{{ attribute(course.lessons|first, 'time')|date('d.m.Y') }} - {{ attribute(course.lessons|last, 'time')|date('d.m.Y') }}
			</div>
			{% endif %}

			<table class="table">
				{% if course.level %}
					<tr><td><strong>
						{% if course.type == "party" %}Tance{% else %}Úroveň{% endif %}
					</strong></td><td>{{course.level}}</td></tr>
				{% endif %}
				
				{% if course.lecturer %}
					<tr><td><strong>
						{% if course.type == "party" %}DJ{% else %}Lektor{% endif %}
					</strong></td><td>{{course.lecturer}}</td></tr>
				{% endif %}
				
				{% if course.place %}
					<tr><td><strong>Místo</strong></td><td>{{course.place}}</td></tr>
				{% endif %}
			</table>
			
			{% if course.tickets is not empty %}
			<div class="panel panel-info">
				<div class="panel-heading">Ceny</div>
				<div class="panel-body">
					<ul class="list-group">
					{% for ticket in course.tickets %}
						<li class="list-group-item">
							{{ ticket.name }}
							<span class="pull-right">
								{{ticket.price}},-
								<a class="btn btn-xs btn-default" href="{{ path('participant_application', {'ticket_id': ticket.id}) }}"><span class="glyphicon glyphicon-film"></span> Přihlásit</a>
							</span>						
						</li>
					{% endfor %}
					</ul>
				</div>
			</div>
			{% endif %}

			{% if course.lessons is not empty %}
			<div class="panel panel-info">
				<div class="panel-heading">Rozvrh</div>
				<div class="panel-body">
					<ul class="list-group">
					{% for lesson in course.lessons %}
						<li class="list-group-item">
							<div>
								{{lesson.time|date('d.m.Y H:i')}}
								-
								{{ lesson.time|date_modify(lesson.length~" minutes")|date('H:i') }}
							</div>
							{% if lesson.level %}<div class="text-right">{{ lesson.level }}</div>{% endif %}
							{% if lesson.lecturer %}<div class="text-right">{{ lesson.lecturer }}</div>{% endif %}
							{% if lesson.description %}<div class="text-right">{{ lesson.description }}</div>{% endif %}
						</li>
					{% endfor %}
					</ul>
				</div>
			</div>
			{% endif %}
			
  		</div><!-- side panel -->
	</div>
</div>
{% endblock %}
