{% extends 'base.html.twig' %}

{% block body %}
<div class="blobs">
	<h1>Přidat / Upravit obrázek</h1>
	{{ form_start(form) }}

	<div class="form-group">
		{{ form_label(form.fileHandler) }}
		<div class="col-sm-10">
			{{ form_errors(form.fileHandler) }}
			{{ form_widget(form.fileHandler) }}
			<div class="help-block">Maximální velikost souboru 20M.</div>
		</div>
	</div>

        {{ form_end(form) }}
</div>

{% endblock %}

{% block stylesheets %}
{% endblock %}
