{% extends 'base.html.twig' %}

{% block title %}StagBundle:Blob:index{% endblock %}

{% block body %}
<div class="blobs">
	<h1>Blobs</h1>
	<a class="btn btn-success" href="{{ path('blob_add') }}">Add</a>
	<table class="table table-responsive">
	<thead>
		<tr>
			<th>id</th>
			<th>fileName</th>
			<th>preview</th>
			<th></th>
		</tr>
	</thead>
	<tbody>
		{% for blob in blobs %}
                <tr>
                	<td><a href="{{ path('blob_get', {'id': blob.id}) }}">{{ blob.id }}</a></td>
			<td><a href="{{ path('blob_get', {'id': blob.fileName}) }}">{{ blob.fileName }}</a></td>
			<td><a href="{{ path('blob_get', {'id': blob.fileName}) }}"><img src="{{ path('blob_get', {'id': blob.fileName}) }}" class="img-responsive img-rounded" style="height: 10em;"></a></td>
			<td>
				
				{{ render(controller("StagBundle:Blob:delete", {'id': blob.id})) }}
			</td>
		</tr>
    		{% endfor %}
	</tbody>
	</table>
</div>
{% endblock %}

{% block stylesheets %}
{% endblock %}
