{% extends 'base.html.twig' %}

{% block body %}
<div class="participants container">

	<div class="row" style="padding-bottom:2em;">
	<h1 class="centered">Vaše přihláška byla přijata</h1>
	</div>
	
	<div class="row" style="padding-bottom:2em;">
	Na vámi zadanou emailovou adresu byla odeslána zpráva s dalšími instrukcemi pro dokončení přihlášky.
	</div>
		
	<div class="row col-md-6">
		<table class="table">
		<tr><td>Číslo přihlášky</td><td>{{participant.id}}</td></tr>
		<tr><td>Kurz</td><td><a href="{{ path('course_show', {'id': participant.courseRef.id})}}">{{participant.courseRef.name}}</a></td></tr>
		<tr><td>Úroveň</td><td>{{participant.courseRef.level}}</td></tr>
		<tr><td>Lektor</td><td>{{participant.courseRef.lecturer}}</td></tr>
		<tr><td>Místo</td><td>{{participant.courseRef.place}}</td></tr>
		<tr><td>Typ přihlášky</td><td>{% for key, value in constant('StagBundle\\Entity\\Participant::ALL_PAIRS') %}{% if value == participant.paired %}{{ key }}{% endif %}{% endfor %}</td></tr>
		<tr><td>Cena</td><td>{% if (participant.paired) %}{{participant.courseRef.pricePair}}{% else %}{{participant.courseRef.priceSingle}}{% endif %},-</td></tr>
		<tr><td>Rozpis lekcí</td><td>
			<ul>
			{% for lesson in participant.CourseRef.lessons %}
				<li>{{lesson.time|date('d.m.Y H:i T')}}</li>
			{% endfor %}
			</ul>
		</td></tr>
		</table>
	</div>
</div>
{% endblock %}

{% block stylesheets %}
{% endblock %}
