{% extends 'base.html.twig' %}

{% block stylesheets %}
{% endblock %}

{% block body %}
<div class="participants">
	<h1>Účastníci <a class="btn btn-success" href="{{ path('participant_add') }}">Přidat</a></h1>
	<table class="table table-responsive">
	<thead>
		<tr>
			<th>Id</th>
			<th>Jméno</th>
			<th>Přijmení</th>
			<th>Email</th>
			<th>Telefon</th>
			<th>Pohlaví</th>
			<th>Partner</th>
			<th>Reference</th>
			<th>Poznámka</th>
			<th>Záloha</th>
			<th>Platba</th>
			<th>Kurz</th>
			<th>Vytvořeno</th>
			<th>Upraveno</th>
			<th></th>
		</tr>
	</thead>
	<tbody>
		{% for participant in participants %}
                <tr>
                	<td>{{ participant.id }}</td>
			<td>{{ participant.gn }}</td>
			<td>{{ participant.sn }}</td>
			<td>{{ participant.email }}</td>
			<td>{{ participant.phoneNumber }}</td>
			<td>{{ participant.gender }}</td>
			<td>{{ participant.partner }}</td>
			<td>{{ participant.reference }}</td>
			<td>{{ participant.note }}</td>


			<td>
				{% include 'StagBundle:Participant:boxDeposit.html.twig' %}
			</td>


			<td>
				{% include 'StagBundle:Participant:boxPayment.html.twig' %}
			</td>


			<td><a href="{{ path('course_book', {'id': participant.ticketRef.courseRef.id}) }}">{{ participant.ticketRef.courseRef.name }} - {{ participant.ticketRef.name }}</a></td>
			<td>{{ participant.created|date('c')[0:10] }}</td>
			<td>{{ participant.modified|date('c')[0:10] }}</td>
			<td>
				<a class="btn btn-xs btn-primary" href="{{ path('participant_edit', {'id': participant.id}) }}"><span class="glyphicon glyphicon-edit"></span> Upravit</a>
				{{ render(controller("StagBundle:Participant:delete", {'id': participant.id})) }}
			</td>
		</tr>
    		{% endfor %}
	</tbody>
	</table>
</div>

{% endblock %}
