{% extends 'base.html.twig' %}

{% block title %}StagBundle:Participant:index{% endblock %}

{% block stylesheets %}
{% endblock %}

{% block body %}
<div class="participants">
	<h1>Participants</h1>
	<a class="btn btn-success" href="{{ path('participant_add') }}">Add</a>
	<table class="table table-responsive">
	<thead>
		<tr>
			<th>id</th>
			<th>gn</th>
			<th>sn</th>
			<th>email</th>
			<th>phoneNumber</th>
			<th>gender</th>
			<th>paired</th>
			<th>partner</th>
			<th>reference</th>
			<th>note</th>
			<th>deposit</th>
			<th>payment</th>
			<th>courseRef</th>
			<th>created</th>
			<th>modified</th>
			<th></th>
		</tr>
	</thead>
	<tbody>
		{% for participant in participants %}
                <tr>
                	<td>{{ participant.id }}</td>
			<td>{{ participant.gn }}</td>
			<td>{{ participant.sn }}</td>
			<td>{{ participant.email }}</td>
			<td>{{ participant.phoneNumber }}</td>
			<td>{{ participant.gender }}</td>
			<td>{{ participant.paired }}</td>
			<td>{{ participant.partner }}</td>
			<td>{{ participant.reference }}</td>
			<td>{{ participant.note }}</td>


			<td>
				{% if participant.deposit == "wire" %}
					<span class="glyphicon glyphicon-retweet"></span>
				{% elseif participant.deposit == "cash" %}
					<span class="glyphicon glyphicon-hand-right"></span>
				{% else %}
					{{ participant.deposit }}
				{% endif %}

				{% if participant.deposit %}
					{{ render(controller("StagBundle:Participant:deposit", {'id': participant.id, 'value': null})) }}
				{% else %}
					{{ render(controller("StagBundle:Participant:deposit", {'id': participant.id, 'value': 'wire'})) }}
					{{ render(controller("StagBundle:Participant:deposit", {'id': participant.id, 'value': 'cash'})) }}
				{% endif %}
			</td>


			<td>
				{% if participant.payment == "wire" %}
					<span class="glyphicon glyphicon-retweet"></span>
				{% elseif participant.payment == "cash" %}
					<span class="glyphicon glyphicon-hand-right"></span>
				{% else %}
					{{ participant.payment }}
				{% endif %}

				{% if participant.payment %}
					{{ render(controller("StagBundle:Participant:payment", {'id': participant.id, 'value': null})) }}
				{% else %}
					{{ render(controller("StagBundle:Participant:payment", {'id': participant.id, 'value': 'wire'})) }}
					{{ render(controller("StagBundle:Participant:payment", {'id': participant.id, 'value': 'cash'})) }}
				{% endif %}
			</td>


			<td><a href="{{ path('course_book', {'id': participant.courseRef.id}) }}">{{ participant.courseRef.name }}</a></td>
			<td>{{ participant.created|date('c')[0:10] }}</td>
			<td>{{ participant.modified|date('c')[0:10] }}</td>
			<td>
				<a class="btn btn-xs btn-primary" href="{{ path('participant_edit', {'id': participant.id}) }}"><span class="glyphicon glyphicon-edit"></span> Edit</a>
				{{ render(controller("StagBundle:Participant:delete", {'id': participant.id})) }}
			</td>
		</tr>
    		{% endfor %}
	</tbody>
	</table>
</div>

{% endblock %}
