{% extends 'base.html.twig' %}

{% block body %}
<div class="tickets">
	<h1>Tickets</h1>
	<a class="btn btn-success" href="{{ path('ticket_add') }}">Add</a>
	<table class="table table-responsive">
	<thead>
		<tr>
			<th>id</th>
			<th>courseRef</th>
			<th>name</th>
			<th>price</th>
			<th></th>
		</tr>
	</thead>
	<tbody>
		{% for ticket in tickets %}
                <tr>
                	<td>{{ ticket.id }}</td>
			<td><a  href="{{ path('course_book', {'id': ticket.courseRef.id}) }}">{{ ticket.courseRef.name }}</a></td>
			<td>{{ ticket.name }}</td>
			<td>{{ ticket.price }}</td>
			<td>
				<a class="btn btn-xs btn-primary" href="{{ path('ticket_edit', {'id': ticket.id}) }}"><span class="glyphicon glyphicon-edit"></span> Edit</a>
				{{ render(controller("StagBundle:Ticket:delete", {'id': ticket.id})) }}
			</td>
		</tr>
    		{% endfor %}
	</tbody>
	</table>
</div>
{% endblock %}

{% block stylesheets %}
{% endblock %}
